@font-face{
	font-family: roboto_medium;
	src: url(../fonts/roboto-medium.ttf);
}

* {margin:0; padding:0;}
a{text-decoration:none;}
ul{list-style:none;}
html,body{min-height:100%; height:100%; min-width:1150px;}
body{background: url('../images/about-body.png') 0 100%/cover no-repeat ; background-attachment: fixed; }
.mainwrapper{ position:relative; min-height:100%; min-width:1300px;}

.leftsidebar{ position:absolute; top:0; left:0; height:100%; width:25%; min-width:325px;}



.slide{ width:25%; }



/*   CONTENT   */

h1, p, li{font-family:roboto_medium, Arial;}
h1{color:#e74c3c; font-size:24px; padding-top:170px; margin:0;}
p, li{font-size:20px;}
p{margin-top:12px;}
p>span{color:#e74c3c;}
.about ul{margin-top:27px; margin-bottom:48px;}
.main{ padding-left:70px; transition: all 0.7s;}