/*  CONTACT  */

@font-face{
	font-family: roboto;
	src: url(../fonts/roboto.ttf);
}

*{margin:0; padding:0; border:none; box-sizing:border-box;}
ul{list-style:none;}
html, body, .wrapper, .content-contact, .map{height:100%;  min-width:1150px;}
.wrapper{position:relative;}
.contact{position:relative;}

.slide{width:25%; }

footer{position:absolute; bottom:0; left:0; width:100%; height:85px; overflow:hidden; background: rgba(193,198,201,0.9);}
.block{display:inline-block; padding-top:11px; width:20%; min-width:200px;}
.block1{padding-left:5%;}
.block2{padding-left:4%;}
.block3{padding-left:4%;}
.block4{padding-left:3%;}
	.write{display:inline-block; padding: 0 25px; border:3px solid #e74c3c; height:40px; line-height:34px; text-transform: uppercase; font-size: 15px; font-family:roboto, Arial; margin-top:5px; cursor:pointer;}
.block5{padding-left:0%; width:18%;}
	.block5 ul li{display:inline-block;}
	.block5 ul li a{display:block; width:32px; height:32px;}
		.block5 ul li a.soc-face{background: url('../images/soc-contact.png') 0 50% no-repeat;}
		.block5 ul li a.soc-goo{background: url('../images/soc-contact.png') -37px 50% no-repeat;}
		.block5 ul li a.soc-inst{background: url('../images/soc-contact.png') -70px 50% no-repeat;}
		.block5 ul li a.soc-twitter{background: url('../images/soc-contact.png') -107px 50% no-repeat;}
		.block5 ul li a.soc-youtube{background: url('../images/soc-contact.png') -144px 50% no-repeat;}
footer p, footer a{font-size:16px; color:#e74c3c; text-decoration:none; }

/*  modal window   */
.window{width:100%; height:100%; background: rgba(136,136,136, 0.5); z-index:99999; position:absolute; visibility:hidden;}
	.form{width:370px; background: #dee1e3; padding:20px; position:absolute; top:5%; left:50%; margin-left:-13%;}
	.form>h2{text-align:center; margin-top:0; padding:0; color:#e74c3c; }
	.form>h2>span{float:right; width:34px; height:34px; background: url('../images/window-close.png') 50% 50% no-repeat; cursor:pointer;}
	form{margin-top:15px;}
	input, textarea{display:inline-block; width:100%; margin:0 auto; line-height:48px; font-size:26px; font-weight:normal; margin-bottom:10px;}
	textarea{resize:none;}
	input{ height:50px;}
	[type='button']{border:2px solid #e74c3c; margin:0; color:#e74c3c; padding:0;  box-shadow:inset 0 -2px 5px #cdcdcd;}
	[type='button']:active{ box-shadow: 0 2px 5px #8B8682 inset; vertical-align:baseline; padding-top:5px; }

	/*  CONTACT  */


	/* 	single.html   */

.singlebody{width:100%; padding:20% 0 0 75px; min-height:100%; background: url('../images/good2.png') 0 0/cover fixed no-repeat; }
	.singlebody h1{margin:0; padding:0; color:#e74c3c; font-size:24px; font-family:roboto;}
	.singlebody p{margin:0; padding:0; color:#fff; font-size:24px; font-family:roboto;}
	.singlebody p span{color:#e74c3c;}


	/* 	single.html   */