ul{list-style:none; margin:0; padding:0;}

#menubutton{position:fixed; top:20px; left:20px; width:60px; z-index:9999;}
#menubutton:hover{cursor:pointer;}
	.line{width:60px; height:6px; border-radius:3px; background: #e74c3c; margin-bottom:15px; transition: all 0.5s;}
	.line:last-child{margin-bottom:0;}

.slide{position:fixed; top:0; left:0; height:100%; background: #e74c3c ; width:33.3%; min-width:400px; margin-left:-2000px; transition: all 0.5s; z-index:99; }
	.slide>.logo{width:100%; height:50px; background: url('../images/left-logo-slide.png') 50% 50% no-repeat; margin-top:165px;}
	.slide>.navigation{padding-left:33px; margin-top:110px;}
	.slide>.navigation>.up a, .slide>.navigation>.mid a{color:#fff; font-family: roboto; font-size: 24px; text-decoration: none;}
	.slide>.navigation>.mid{padding-top:50px;}

	.social{width:100%; position: absolute; bottom:0px;}
	.social ul{width:280px; margin:0 auto;}
	.social li{ display:inline-block;}
	.social li a{display:block; width:36px; height:36px; margin-right:20px;}
	.social li:last-of-type a{margin-right:0px;}
	.social li a.soc-face{background: url('../images/soc-ico.png') 0 0 no-repeat;}
	.social li a.soc-go{background: url('../images/soc-ico.png') -56px 0 no-repeat;}
	.social li a.soc-ins{background: url('../images/soc-ico.png') -113px 0 no-repeat;}
	.social li a.soc-twitter{background: url('../images/soc-ico.png') -168px 0 no-repeat;}
	.social li a.soc-you{background: url('../images/soc-ico.png') -223px 0 no-repeat;}
.copy{text-align: center; color:#fff; font-size: 18px; margin: 13px 0 70px 0;}


@media screen and (max-width: 1280px) {
	.slide>.logo{	margin-top:100px;	}
	.slide>.navigation {  padding-left: 33px;  margin-top: 55px;}
	.copy{margin: 13px 0 40px 0;}
}

@media screen and (max-width: 1366px) {
	.slide>.logo{	margin-top:100px;	}
	.slide>.navigation {  padding-left: 33px;  margin-top: 55px;}
	.copy{margin: 13px 0 40px 0;}
}

@media screen and (max-width: 1680px) {
	.slide>.logo{	margin-top:100px;	}
	.slide>.navigation {  padding-left: 33px;  margin-top: 55px;}
	.copy{margin: 13px 0 40px 0;}
}