@font-face{
	font-family: roboto;
	src: url(../fonts/roboto.ttf);
}
@font-face{
	font-family: roboto_thin;
	src: url(../fonts/roboto-thin.ttf);
}

*{box-sizing:border-box;}
ul{margin:0; padding:0; list-style:none;}
html, body{min-height:100%; height:100%; min-width:1150px; }
	h1{font-size:15px;}
	p{font-size:10px;}


.wrapper{min-height:100%; height:100%; min-width:1200px;  position:relative;}
.rightpagebutton{position:absolute; top:42%; right:50px; z-index:9999999; display:none;}
.rightpagebutton>ul{position:fixed; list-style:none; padding:0; margin:0;}
.rightpagebutton>ul a{display:inline-block; width:15px; height:15px; border:1px solid #fff; border-radius:50%; background: transparent; overflow:hidden;}
.rightpagebutton>ul a:hover{ background: #fff;}

.leftsidebar, .content{ display:inline-block; position:relative;}
/*	FIXED BLOCK 	*/
.leftsidebar{width:33.333%; min-width:400px; min-height:100%; height:100%;  background: #fff; position:fixed; z-index:10; overflow-x:hidden; overflow-y:hidden;}
.leftsidebar>.minheight{min-height:500px;}


#menubutton{position:fixed; top:20px; left:20px; width:60px; z-index:99999999;}
#menubutton:hover{cursor:pointer;}
	.line{width:60px; height:6px; border-radius:3px; background: #e74c3c; margin-bottom:15px; transition: all 0.5s;}
	.line:last-child{margin-bottom:0;}

.welcome{text-align:center; padding-top:50px; background: url('../images/left-logo.png') 50% 0 no-repeat; margin-top:50%; min-height:100%; min-width:400px;}
.welcome h1, .welcome p{text-align:center; width:75%; margin:0 auto;}
.welcome h1{color: #e74c3c; text-transform: uppercase;}
	.welcome>.contact{border-top:1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; width:100%; min-width:400px;/*  margin-top: 230px; */ position: absolute; bottom:0; left:0;}
	.welcome>.contact>span{line-height:47px; display:inline-block; text-align:center;}
	.welcome>.contact>span:first-child{border-right:1px solid #d7d7d7; width:40%;}
	.welcome>.contact>span:last-child{ width:60%;}

.slide{width:33.3%; min-width:400px;}




/*  content  */

	.block1wrap{height:100%; width:66.666%; margin-left:33.333%; min-height:100%;}
	.block1{height:100%; min-height:500px;}
	.good{ float:left; width:50%; position:relative; margin:0; padding:0;}
	.hovertext{display:none; height:0%; transition: all 0.5s ;}
	.int, .text{ float:left; color:#fff;}
	.int{width:25%; height:100%; line-height:50px; font-weight:bold; border-right:1px solid #b23a2e; text-align:center;}
	.text{width:74%; text-align:center;}
		.text h2{font-size:14px; font-weight:bold; margin:0; padding:0;}
		.text p{font-size:10px;}


	.good:hover .hovergood{width:100%; height:100%; background:#000; opacity:0.5; z-index:100; position:absolute;}
	.good:hover .hovertext{ display:block; width:100%; height:50px; background:red; z-index:100; position:absolute; bottom:0; left:0;}


	
 



